@use "../utils/color.scss";

.anchor {
    position: absolute;
    display: block;
    opacity: 0;
    color: black;
    border-radius: 8px;
    background-color: #DB8876;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 16px;
    top: 5px;
    left: calc(50% - 110px);
    
}