@use "../utils/color.scss";
.card {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    text-align: center;

    &__link  {
        text-decoration: none;
    }
    &__image {
        border-radius: 50%;
        height: 250px;
        width: 250px;
        overflow: hidden;
        object-fit: cover;
        margin: 15px auto;
        
        &--profile {
            margin-right: 0;
            @media only screen and (max-width: 600px) {
                height: 133px;
                width: 133px;
            }
        }
    }
    &__title {
        color: color.$secondary-color;
        font-size: 2rem;

        &--profile {
            font-size: 4rem;
            @media only screen and (max-width: 600px) {
                font-size: 2.25rem;
            }
        }
        
    }
    &__location {
        color: color.$primary-color;

        &--profile {
            font-size: 1.5rem;

            @media only screen and (max-width: 600px) {
                font-size: 0.75rem;
            }
        }
        
    }
    &__price {
        color : color.$text-color;
        
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
    }
    &--profile {
        display: flex;
        padding: 0 50px;
        max-height: 300px;
        position: relative;
        margin-bottom: 50px;
        @media only screen and (max-width: 600px) {
            padding: 0 10px;
        }

        &__desc {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 1.1rem;

            @media only screen and (max-width: 600px) {
                font-size: 0.75rem;
            }
        }
    }
}