@use "../utils/color.scss";

.modal {
    background-color: #DB8876;
    width: 670px;
    padding: 25px; 
    position: fixed;
    top: 50px; 
    left: calc(50% - 335px);
    display: none; 
    border-radius: 5px; 
    @media only screen and (max-width: 600px) {
        overflow: hidden;
        left: 0;
        top: 0;
        padding: 15px;
        width: 100%;
        height: 100%;
    }

    &__title {
        font-size: 3rem;
        font-weight: 400;
        @media only screen and (max-width: 600px) {
            font-size: 2rem;
        }
    }

    &__close {
        cursor: pointer;
        background: none;
        border: none;
        color: white;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 5rem;
        @media only screen and (max-width: 600px) {
            font-size: 2rem;
            top: 20px;
            right: 60px;
        }
    }

    &__form {
        
        display: flex;
        flex-direction: column;

        &__input {
            border-radius: 5px;
            height: 50px;
            @media only screen and (max-width: 600px) {
                width: 340px;
            }
        }

        &__label {
            font-size: 2rem;
            color: #312E2E;
            @media only screen and (max-width: 600px) {
                font-size: 1.5rem;
            }
            &--hidden {
                visibility: hidden;
            }
        }

        &__submit {
            width: 170px;
            background-color: color.$primary-color;
            border-radius: 5px;
            border: none;
            margin-top: 50px;
            color: white;
            font-size: 1.5rem;
            padding: 15px;
            @media only screen and (max-width: 600px) {
                font-size: 1.1rem;
                align-self: center;
                padding: 5px 15px
            }
        }
    }
}