@use "../utils/color.scss";

.sticky {

    background-color: #DB8876;
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 0;
    float: right;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.3rem;
    font-weight: 700;

    @media only screen and (max-width: 600px) {
        display: none;
    }

}