

.main-header {
    display: flex;
    align-items: center;
    width: 75%;

    &__logo {
        max-height: 80px;
        align-self: flex-start;
    }
    &__nav {
        display: flex;
        flex-wrap: wrap;
    }

}